#topic{
    font-size: 55px;
    color: bisque;   
}


body::before{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/background.jpg");
    filter: blur(8px);
    background-size: cover;
    background-position: center;
    opacity: .65;
    
}

.card-img-top{
    width: 615px;
    height: 400px;
    border: 1px solid bisque;
}

.lead{
border: 1px solid wheat;
}

.description{
    text-align: justify;
}

h2{
    text-align: left;
}

a{
text-decoration: none;
}
a:visited{color: aliceblue;}